@import 'resources';

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2rem 5rem 3rem 3rem 1fr 2rem 3rem 4rem;
    place-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    padding: 0.5rem 1.5rem;

    background: $paletteDarkGrey_1;

    & .arrowIcon {
        cursor: pointer;
        @include centerContent;
        grid-column: 1 / 3;

        width: 20%;
        height: 100%;
    }

    & .title {
        @include boldTitle;
        grid-column: 1 / 3;

        color: $paletteWhite;
    }

    & .editButton {
        cursor: pointer;
        @include centerContent;
        place-self: center end;

        height: 2rem;
        width: 2rem;

        background: $paletteBg;
        border-radius: 100%;

        & svg {
            transform: scale(0.75);
        }
    }

    & .address {
        place-self: center start;

        text-align: left;
        color: $paletteBg;
    }

    & .deliveryTime {
        @include boldTitle;
        place-self: center start;

        text-align: left;
        text-transform: capitalize;
        color: $paletteBg;
    }

    & .itemList {
        grid-column: 1 / 3;

        display: grid;
        grid-auto-rows: min-content;
        gap: 0.5rem;

        height: 100%;
        width: 100%;
        padding: 0.5rem 0;
        padding-left: 0;

        overflow-y: scroll;
    }

    & .bonusTitle {
        place-self: center start;

        color: $paletteYellow_1;
    }

    & .bonusAmount {
        color: $paletteYellow_1;
    }

    & .totalTitle {
        @include boldTitle;
        place-self: center start;

        color: $paletteBg;
    }

    & .totalAmount {
        @include boldTitle;
        color: $paletteBg;
    }

    & .button {
        @include greenButton;
        grid-column: 1 / 3;

        width: 50%;

        border: 1px solid $paletteGreen_1;

        &:disabled {
            cursor: default;

            background: none;
            border: 1px solid $paletteGrey_3;
            color: $paletteGrey_3;
        }
    }
}
