@import 'resources';

.container {
    @include fullHeight;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 3rem 3fr 1fr;
    grid-template-rows: 5rem 3rem 3rem 1fr 2rem 3rem 4rem;
    place-items: center;

    width: 100vw;
    padding: 1.5rem;

    background: $paletteDarkGrey_1;

    z-index: 999; // overlay

    & .title {
        @include boldTitle;
        grid-column: 1 / 4;

        color: $paletteWhite;
    }

    & .editButton {
        @include centerContent;
        cursor: pointer;
        place-self: center end;

        height: 2rem;
        width: 2rem;

        background: $paletteBg;

        border-radius: 100%;

        & svg {
            transform: scale(0.75);
        }
    }

    & .address {
        place-self: center start;

        grid-column: 1 / 3;

        text-align: left;

        color: $paletteBg;
    }

    & .deliveryTime {
        @include boldTitle;
        place-self: center start;

        grid-column: 1 / 3;

        text-align: left;
        text-transform: capitalize;

        color: $paletteBg;
    }

    & .itemList {
        display: grid;
        grid-auto-rows: min-content;
        grid-column: 1 / 4;
        gap: 0.5rem;

        height: 100%;
        width: 100%;
        padding: 0.5rem 0;
        padding-left: 0;

        overflow-y: scroll;
    }

    & .bonusTitle {
        place-self: center start;

        grid-column: 1 / 3;

        color: $paletteYellow_1;
    }

    & .bonusAmount {
        place-self: center end;

        color: $paletteYellow_1;
    }

    & .totalTitle {
        @include boldTitle;
        place-self: center start;

        grid-column: 1 / 3;

        color: $paletteBg;
    }

    & .totalAmount {
        @include boldTitle;
        place-self: center end;

        color: $paletteBg;
    }

    & .backButton {
        @include shadow;
        @include lightButton;
        @include centerContent;
        cursor: pointer;

        grid-column: 1; // only for backButton

        height: 2.5rem;
        width: 2.5rem;
        padding: 0;

        border-radius: 100%;
    }

    & .button {
        @include deafultGradientButton;
        place-self: center end;

        grid-column: 2 / 4;

        width: 75%;

        border: 1px solid $paletteBlue_1;

        &:disabled {
            cursor: default;

            background: none;

            border: 1px solid $paletteGrey_3;

            color: $paletteGrey_3;
        }
    }
}
