@import 'resources';

.container {
    @include shadow;
    place-self: end center;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 3rem 2rem 1fr;
    gap: 0.5rem;

    height: 95vh;
    width: 95vw;
    padding: 1rem;

    background: $paletteWhite;

    border-radius: 1rem 1rem 0 0;

    & .statusLabel {
        place-self: start center;

        grid-column: 2;
        grid-row: 1;
    }

    & .date {
        grid-column: 1;
    }

    & .address {
        grid-column: 1 / 3;

        text-overflow: ellipsis;
        white-space: nowrap;

        overflow: hidden;
    }

    & .cart {
        display: grid;
        grid-auto-rows: minmax(5rem, max-content);
        grid-column: 1 / 3;

        height: 100%;
        width: 100%;

        overflow-y: scroll;

        & .cartItem {
            font-size: 3rem;

            &:last-of-type {
                margin-bottom: 5rem;
            }
        }
    }
}

.footer {
    @include blur;
    position: fixed;
    bottom: 0;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
    place-items: center;

    width: 95vw;
    height: 4rem;
    margin: 0 2.5vw;
    padding: 0 1rem;

    font-size: 1.5rem;
    font-weight: bold;

    color: $paletteBlue_1;

    & .backButton {
        @include shadow;
        @include lightButton;
        @include centerContent;
        cursor: pointer;

        grid-column: 1; // only for backButton

        height: 3rem;
        width: 3rem;
        padding: 0;

        border-radius: 100%;
    }

    & .repeatOrderButton {
        @include centerContent;
        @include deafultGradientButton;
        place-self: center end;

        grid-column: 3;

        height: 3rem;
        width: 3rem;

        & .icon {
            position: relative;
            left: -2px;
        }
    }

    & span {
        place-self: center start;

        font-size: 1rem;
        font-weight: normal;
    }
}
