@import 'resources';

.container {
    @include overlay(false);

    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 3rem 1.75rem 3.25rem 1fr 3rem;
    gap: 0 2rem;

    background: $paletteWhite;

    & .title {
        grid-column: 1 / 3;

        padding: 0 1rem;

        font-size: 2rem;
        font-weight: 700;
    }

    & .offerImage {
        @include shadow;

        grid-column: 1;
        grid-row: 2 / 4;

        width: 100%;
        height: 100%;
        margin-left: 1rem;
        padding: 0.5rem;

        border-radius: 1rem;

        // background: $paletteGrey_3;
    }

    & .sumTitle {
        place-self: end start;

        font-size: 0.75rem;

        color: $paletteGrey_2;
    }

    & .sum {
        place-self: start;

        font-size: 1.75rem;
        font-weight: 600;
    }

    & .items {
        grid-column: 1 / 3;
        grid-row: 4;
        display: grid;
        grid-template-rows: max-content 1fr;

        margin-top: 1rem;
        padding: 0.75rem 0;

        box-shadow: inset 0 12px 12px -10px #0000001a;

        & .itemsTitle {
            @include boldTitle;
            place-self: start;

            padding-left: 1rem;
        }

        & .itemsContainer {
            display: grid;
            grid-auto-flow: row;
            grid-auto-rows: max-content;
            gap: 0.5rem;

            width: 100%;
            height: 100%;
            padding: 0.5rem 1rem;

            overflow: scroll;

            & .itemBadge {
                @include shadow;
                cursor: pointer;

                display: grid;
                grid-template-columns: 3rem 1fr 3rem 5rem;
                place-items: center start;
                gap: 0.25rem;

                height: 3rem;
                padding: 0 0.25rem;

                border-radius: 1rem;

                transition: all 0.3s;

                & .supplierImage {
                    grid-column: 1;

                    width: 100%;
                    height: 100%;

                    border-radius: 1rem;
                }

                & .supplierName {
                    width: 100%;

                    overflow: hidden;
                }

                & .itemSum {
                    place-self: center;

                    font-weight: bold;
                }

                & .itemsAmount {
                    font-size: 0.9rem;

                    color: $paletteBlue_1;
                }

                & .arrow {
                    place-self: center end;

                    padding-right: 1rem;
                }
            }
        }
    }
}
