@import 'resources';

.container {
    @include fullHeight;
    @include blur;

    @include media(md) {
        grid-template-rows: 4rem 1fr 1fr 30%;
    }

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-rows: 4rem 1fr calc(60% + 5rem);
    place-items: center start;
    gap: 2rem;

    width: 100vw;
    padding: 1rem 0;

    z-index: 1001;

    & .backButtonMobile {
        @include lightButton;
        @include centerContent;

        @include media(md) {
            visibility: hidden;
        }
        place-self: center end;

        height: 3rem;
        width: 3rem;
        margin: 1rem;

        background: $paletteWhite;

        border-radius: 100%;
    }

    & .backButtonTablet {
        @include media(md) {
            @include lightButton;
            @include centerContent;
            place-self: center;

            height: 5rem;
            width: 5rem;

            background: $paletteWhite;

            border-radius: 100%;
        }
        display: none;
    }

    & .title {
        @include boldTitle;

        @include media(md) {
            margin-bottom: 2rem;

            font-size: 50px;
        }
        place-self: end start;

        margin-left: 2rem;

        font-size: 30px;
    }

    & .fieldsContainer {
        @include shadow;

        @include media(md) {
            max-width: 32rem;

            border-radius: 15 15% 15% 15;
        }
        place-self: start;

        position: relative;

        display: grid;
        grid-template-columns: 2rem 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center start;

        width: 75%;
        min-width: 20rem;
        padding-left: 1rem;

        background: $paletteWhite;

        border-radius: 0 25rem 25rem 0;

        & .icon {
            @include media(md) {
                height: 2rem;
                width: 2rem;
            }
            height: 1rem;
            width: 1rem;
        }

        & .input {
            @include media(md) {
                height: 6rem;

                font-size: 2rem;
            }
            grid-column: 2;
            display: grid;
            place-items: center start;

            height: 3rem;
            width: 80%;
            padding-left: 2 rem;

            border-top: 1px solid $paletteGrey_4;

            & input {
                @include media(md) {
                    font-size: 1.3rem;
                }
                line-height: 100%;
                font-size: 0.95rem;

                &::placeholder {
                    @include media(md) {
                        font-size: 1.5rem;
                    }
                    font-size: 0.9rem;
                }
            }

            &:first-of-type {
                border-top: none;
            }
        }

        & .button {
            @include centerContent;
            @include deafultGradientButton;

            @include media(md) {
                right: -3rem;

                height: 7rem !important;
                width: 7rem !important;
            }
            position: absolute;
            top: 50%;
            right: -1rem;

            height: 4rem;
            width: 4rem;

            border-radius: 100%;

            transform: translateY(-50%);
        }
    }
}
