@import 'resources';

.container {
    @include fullHeight;
    @include blur;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-rows: 4rem 1fr calc(50% + 5rem);
    place-items: center start;
    gap: 2rem;

    width: 100vw;
    padding: 1rem 0;

    z-index: 1001;

    & .backButton {
        @include lightButton;
        @include centerContent;
        place-self: center end;

        height: 3rem;
        width: 3rem;
        margin: 1rem;

        background: $paletteWhite;

        border-radius: 100%;
    }

    & .title {
        @include boldTitle;
        place-self: end start;

        margin-left: 2rem;
    }

    & .fieldsContainer {
        @include shadow;
        place-self: start;

        position: relative;

        display: grid;
        grid-template-columns: 2rem 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center start;

        width: 75%;
        min-width: 20rem;
        padding-left: 1rem;

        background: $paletteWhite;

        border-radius: 0 25rem 25rem 0;

        & .input {
            grid-column: 2;
            display: grid;
            place-items: center start;

            height: 3.25rem;
            width: 80%;
            padding-right: 1rem;

            border-top: 1px solid $paletteGrey_4;

            & input {
                line-height: 100%;
                font-size: 0.95rem;

                &::placeholder {
                    font-size: 0.9rem;
                }
            }

            &:first-of-type {
                border-top: none;
            }
        }

        & .button {
            @include centerContent;
            @include deafultGradientButton;
            position: absolute;
            top: 50%;
            right: -1rem;

            height: 4rem;
            width: 4rem;

            border-radius: 100%;

            transform: translateY(-50%);
        }
    }
}
