@import 'resources';

.container {
    display: grid;
    grid-template-rows: 1rem 4rem;
    gap: 0.5rem;

    width: 100%;
    height: 100%;

    & .title {
        grid-row: 1;
        place-self: start;

        padding-left: 1.5rem;
    }

    & input {
        grid-row: 2;
        grid-column: 1;
        padding: 0 3rem 0 2rem;

        width: 100%;

        border-radius: 10rem;
        border: none;

        font-size: 1.5rem;
    }

    & .button {
        cursor: pointer;

        grid-row: 2;
        grid-column: 1;
        place-self: center end;

        display: grid;
        place-items: center;

        height: 4rem;
        width: 4rem;

        border-radius: 100%;

        background: $paletteGreen_2;

        transition: all 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media only screen and (max-width: 400px) {
    .container {
        & .input {
            font-size: 1.25rem;
        }
    }
}
