@import 'resources';

.container {
    display: grid;

    width: 100%;
    height: 100%;

    & input {
        @include centerContent;
        padding: 0 3rem 0 2rem;

        width: 100%;

        border-radius: 10rem;
        border: none;
    }

    & .button {
        cursor: pointer;
        @include centerContent;

        grid-row: 2;
        grid-column: 1;
        place-self: center end;

        height: 4rem;
        width: 4rem;

        border-radius: 100%;

        background: $paletteGreen_2;

        transition: all 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media only screen and (max-width: 400px) {
    .container {
        & .input {
            font-size: 1.25rem;
        }
    }
}
