@import 'resources';

.container {
    position: relative;

    display: grid;
    grid-template-columns: max-content 1fr 4rem;

    width: 100%;
    height: 100%;

    & .img {
        @include centerContent;

        @include media(md) {
            width: 2.5rem;
            height: 2.5rem;
        }
        grid-column: 1;
        grid-row: 1;
    }

    & .input {
        @include centerContent;

        @include media(md) {
            border-radius: 15rem;

            font-size: 2rem;
        }
        grid-column: 2;
        grid-row: 1;

        padding: 0 1rem;
        // width: 90%;
        height: 100%;

        border-radius: 10rem;
        border: none;
    }

    & .button {
        @include media(md) {
            height: 7rem !important;
            width: 7rem !important;

            border-radius: 100%;
        }
        position: absolute;
        right: -1.2rem;

        height: 4rem;
        width: 4rem;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        & .input {
            font-size: 1.25rem;
        }
    }
}
