@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 0.5rem;

    height: 100vh;
    padding: 2rem 0.5rem 0;

    & .title {
        width: 75%;

        font-size: 1.25rem;
        font-weight: bold;
    }

    & .locations {
        display: grid;
        grid-auto-rows: max-content;
        gap: 0.5rem;

        height: 100%;
        padding: 0.5rem;

        overflow: scroll;

        & .dummy {
            height: 4rem;

            background: transparent;
        }
    }

    & .newLocationButton {
        @include deafultGradientButton;

        height: 3rem;
        width: 3rem;
        padding: 0;
        padding-top: 2px;

        border-radius: 100%;

        & .plusIcon {
            height: 55%;
            width: 55%;
        }
    }
}
