@import 'resources';

.container {
    @include fullHeight;
    @include blur;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-rows: 4rem 1fr calc(50% - 5rem) min-content;
    place-items: center start;
    gap: 2rem;

    width: 100vw;
    padding: 1rem 0;

    z-index: 1002; // overlay

    @media only screen and (min-width: 700px) {
        grid-template-rows: 4rem 1fr 1fr 20%;
    }

    & .backButtonMobile {
        @include lightButton;
        @include centerContent;
        place-self: center end;

        height: 3rem;
        width: 3rem;
        margin: 1rem;

        background: $paletteWhite;

        border-radius: 100%;

        @media only screen and (min-width: 700px) {
            visibility: hidden;
        }
    }

    & .backButtonTablet {
        display: none;

        @media only screen and (min-width: 700px) {
            @include lightButton;
            @include centerContent;
            place-self: center;

            margin-bottom: 3rem;
            height: 5rem;
            width: 5rem;

            background: $paletteWhite;

            border-radius: 100%;
        }
    }

    & .title {
        @include boldTitle;
        place-self: end start;

        margin-left: 2rem;

        @media only screen and (min-width: 700px) {
            margin-bottom: 7rem;

            font-size: 50px;
        }
    }

    & .fieldsContainer {
        @include shadow;
        place-self: start;

        position: relative;

        display: grid;
        place-items: center start;

        height: 4rem;
        width: 90%;
        padding-left: 1rem;

        background: $paletteWhite;

        border-radius: 0 15% 15% 0;

        @media only screen and (min-width: 700px) {
            height: 6.8rem;
            max-width: 33rem;

            border-radius: 0 16% 16% 0;
        }

        & .input {
            display: grid;
            place-items: center start;

            height: 100%;
            width: 100%;
            padding: 0 1rem;

            border-top: 1px solid $paletteGrey_3;

            &:first-of-type {
                border-top: none;
            }
        }

        & .button {
            @include centerContent;
            @include deafultGradientButton;
            position: absolute;
            top: 50%;
            right: -1rem;

            height: 4rem;
            width: 4rem;

            background: $paletteBlue_2;

            border-radius: 100%;

            transform: translateY(-50%);
        }
    }

    & .resendCode {
        @include centerContent;
        @include lightButton;
        @include gradientText;
        place-self: center;

        max-width: 12rem;
        margin-bottom: 5rem;

        @media only screen and (min-width: 700px) {
            place-self: center;

            max-width: 18rem;

            font-size: 1.4rem;
        }
    }
}
