@import 'resources';

.container {
    @include centerContent;

    padding: 0.25rem 0.75rem;

    border-radius: 1rem;

    text-align: center;
    font-size: 0.8rem;

    &.completedStatus {
        background: #00c43848;

        color: #008f28;
    }

    &.pendingStatus {
        background: #0071c41c;

        color: #006278e3;
    }

    &.preparingStatus {
        background: #c4b0003b;

        color: #d8a007;
    }

    &.cancelledStatus {
        background: #c400003b;

        color: #d80707;
    }
}
