@import 'resources';

.container {
    @include centerContent;

    padding: 0.15rem 0.75rem;

    border-radius: 0 0 0.35rem 0.35rem;

    text-align: center;
    font-size: 0.8rem;

    color: $paletteWhite;

    &.completedStatus {
        background: $paletteGreen_1;
    }

    &.pendingStatus {
        background: $paletteBlue_1;
    }

    &.preparingStatus {
        background: $paletteYellow_1;
    }

    &.cancelledStatus {
        background: $paletteErrorRed;
    }
}
