@import 'resources';

.container {
    @include fullHeight;

    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content) 1fr;
    gap: 0.5rem;

    height: 100vh;
    padding: 1rem 0.5rem 5rem;

    & .title {
        @include boldTitle;
        place-self: start;

        grid-column: 1 / 3;

        font-size: 1.75rem;
        text-align: left;
    }

    & .disputeButton {
        @include shadow;

        position: absolute;
        top: 0.75rem;
        right: 0.75rem;

        height: 2.5rem;
        width: 2.5rem;

        background: $paletteWhite;
    }

    & .orderItem {
        grid-column: 1 / 3;
    }

    & .productsHeader {
        @include shadow;
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 3rem 1fr 15% calc(15% + 0.5rem);
        place-items: center start;
        gap: 0.5rem;

        padding: 0.25rem 0.25rem 0.25rem 0.25rem;

        background: $paletteWhite;

        font-size: 0.8rem;
    }

    & .products {
        grid-column: 1 / 3;
        display: grid;
        grid-auto-rows: max-content;
        gap: 0.5rem;

        height: 100%;
        padding: 0.25rem 0;

        overflow-y: scroll;

        & .productItem {
            @include shadow;

            display: grid;
            grid-template-columns: 3rem 1fr 15% 15%;
            place-items: center start;
            gap: 0.5rem;

            width: 100%;
            padding: 0.25rem 1rem 0.25rem 0.25rem;

            background: $paletteWhite;

            border-radius: 0.5rem;

            font-size: 0.8rem;

            & img {
                height: 3rem;
                width: 3rem;

                background: $paletteWhite;

                border-radius: 100%;
            }

            & .name {
                text-align: start;
            }

            & .price {
                place-self: center end;

                font-weight: bold;
            }
        }
    }
}
