@import 'resources';

.container {
    display: grid;
    grid-template-columns: 4rem 3fr 1fr 1fr min-content;
    place-items: center;
    gap: 1rem;

    color: $paletteBg;

    & .image {
        height: 3rem;
        width: 3rem;

        border-radius: 100%;
        background: #fff;
    }

    & .name {
        place-self: center start;
        text-align: left;
    }

    & .price {
        @include boldTitle;
        color: $paletteWhite;
    }

    & .icon {
        cursor: pointer;
    }
}
