@import 'resources';

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem min-content 1fr;

    height: 100vh;

    padding: 1rem;

    & .title {
        grid-column: 1 / 3;
    }

    & .tags {
        grid-column: 1 / 3;
        padding: 0;

        & .tag {
            @include lightButton;
            display: grid;
            place-items: center;
            grid-template-columns: max-content;

            margin: 0.75rem 0.25rem;

            font-size: 0.75rem;

            transition: 0.3s all;

            &:hover {
                background: $paletteGrey_1;
                color: $paletteWhite;
            }
        }
    }

    & .button {
        cursor: pointer;
        @include shadow;
        @include lightButton;
        @include centerContent;

        height: 100%;
        width: 100%;
        padding: 0;

        border-radius: 100%;
    }

    & .showcase {
        grid-column: 1 / 3;
    }
}

.loadingContainer {
    display: grid;
    place-items: center;

    width: 100vw;
    height: 100vh;
}
