@import 'resources';

.container {
    @include fullHeight;

    @include media(md) {
        grid-template-rows: 7rem 1fr min-content;
    }

    display: grid;
    grid-template-rows: 3rem 1fr min-content;

    height: 100vh;
    padding: 1rem 0.25rem 4rem;

    & .title {
        @include boldTitle;

        @include media(md) {
            grid-column: 1;
            grid-row: 1;

            font-size: 2.5rem;
        }
        position: relative;
        top: 1rem;

        padding-left: 1rem;

        text-align: left;
    }

    .buttonProfile {
        @include media(md) {
            place-self: start end;

            display: grid;
            grid-column: 1;
            grid-row: 1;

            margin: 0.5rem 1rem;
        }
        display: none;

        z-index: 2;
    }

    & .carousele {
        border-radius: 10rem;
    }

    & .tags {
        padding: 0;

        & :last-of-type {
            margin-right: 0.5rem;
        }

        & .tag {
            @include lightButton;
            @include centerContent;

            grid-template-columns: max-content;

            height: 2.5rem;
            margin: 0.5rem 0.25rem;
            padding: 0 1rem;

            font-size: 0.75rem;

            transition: 0.3s all;

            &:hover {
                background: $paletteGrey_1;

                color: $paletteWhite;
            }
        }
    }

    & .button {
        @include shadow;
        @include lightButton;
        @include centerContent;
        cursor: pointer;

        height: 100%;
        width: 100%;
        padding: 0;

        border-radius: 100%;
    }
}

.loadingContainer {
    @include fullHeight;

    display: grid;
    place-items: center;

    width: 100vw;
}
