@import 'resources';

.container {
    @include shadow;
    @include centerContent;

    @include media(md) {
        gap: 1.2rem;

        min-width: 5.5rem;
        padding: 1.5rem 1rem 1.5rem;
    }

    position: absolute;
    right: 0rem;
    bottom: 0rem;

    display: grid;
    gap: 0.5rem;

    min-width: 4.5rem;
    padding: 1rem 0.25rem 0.5rem;

    background: $paletteWhite;

    border-radius: 1rem;

    & .filterButton {
        @include shadow;
        @include centerContent;
        @include media(md) {
            transform: scale(1.3);
        }

        grid-auto-flow: column;
        justify-content: center;

        height: 3rem;
        width: 3rem;
        padding: 0;

        background: $paletteWhite;

        transition: filter 0.3s;

        &.inverted {
            filter: invert(1);
        }

        & .icon {
            transform: scale(0.8);
        }

        & .rotated {
            transform: rotate(-90deg);
        }
    }

    & p {
        position: relative;
        top: -0.15rem;

        font-size: 0.8rem;
    }
}

.button {
    @include shadow;
    @include centerContent;

    height: 3rem;
    width: 3rem;
    padding: 0;

    background: $paletteWhite;
}
