@import 'resources';

.container {
    display: grid;
    // need to force rewriting default toaster class -> using !important
    grid-template-columns: repeat(2, min-content) 1fr min-content !important;
    place-items: center;
    gap: 0.5rem;

    max-width: 95vw;

    &.hidden {
        transform: translateX(-95%);
    }

    & .leftArrow {
        @include centerContent;
        cursor: pointer;

        height: 100%;
        width: 2rem;
    }

    & .title {
        @include boldTitle;
        cursor: pointer;

        grid-column: 2;

        color: $paletteWhite;
    }

    & .items {
        cursor: pointer;

        grid-column: 3;
        display: flex;
        justify-items: flex-start;

        width: 100%;
        padding-left: 0.5rem;

        overflow: hidden;

        & .cartItem {
            height: 2rem;
            width: 2rem;
            margin-left: -0.5rem;

            background: $paletteBg;

            border: 1px solid $paletteDarkGrey_1;
            border-radius: 100%;
        }
    }

    & .sum {
        @include centerContent;
        cursor: pointer;

        grid-column: 4;

        height: 2rem;
        padding: 0 0.5rem;

        background: $paletteGreen_1;

        border-radius: 2rem;
    }
}
