@import 'resources';

.container {
    @include centerContent;
    cursor: pointer;

    position: fixed;
    right: 1rem;
    bottom: 1rem;

    height: 4rem;
    width: 4rem;

    background: $paletteDarkGrey_1;

    border-radius: 100%;

    & .icon {
        height: 35%;
        width: 35%;
    }

    & .badge {
        @include centerContent;

        position: absolute;
        top: -10px;
        right: -5px;

        height: 2rem;
        width: 2rem;

        background: $paletteGreen_2;

        border-radius: 100%;

        font-weight: bold;

        color: $paletteWhite;
    }
}
