@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-rows: 3rem 1rem 1fr;

    height: 100vh;
    padding: 1rem 0.25rem;

    & .title {
        margin-bottom: 1rem;
        margin-left: 1rem;

        font-size: 1.5rem;
        font-weight: bold;
    }

    & .columnTitles {
        display: grid;
        grid-template-columns: 2.5rem 1fr 5.5rem;
        gap: 0.5rem;

        padding: 0 1.5rem;

        font-size: 0.9rem;

        color: $paletteGrey_3;
    }

    & .list {
        display: grid;
        align-content: start;
        gap: 0.5rem;

        padding-top: 0.5rem;

        overflow-y: scroll;

        & .dummy {
            height: 7.5rem;
        }
    }

    & .noLists {
        @include centerContent;
        grid-row: 2 / 4;
        grid-template-rows: 3rem 1fr;

        height: 100%;

        & .title {
            @include boldTitle;
        }

        & .link {
            @include deafultGradientButton;

            width: 50%;
        }
    }
}
