@import 'resources';

.container {
    @include fullHeight;

    height: 100vh;
    padding: 1rem 0.25rem;

    & .list {
        display: grid;
        gap: 1rem;

        padding-bottom: 8rem; // place for navigation and location select
    }

    & .noLists {
        @include centerContent;

        grid-template-rows: 3rem 1fr;

        height: 100%;

        & .title {
            @include boldTitle;
        }

        & .link {
            @include deafultGradientButton;

            width: 50%;
        }
    }
}
