@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    place-items: center;
    gap: 1rem;

    padding: 1rem 0 4rem;

    & .title {
        @include boldTitle;
        position: relative;
        top: 1rem;

        padding-left: 1rem;

        text-align: left;
    }

    & .homeButton {
        @include shadow;
        @include centerContent;
        cursor: pointer;
        place-self: center start; // only for homeButton

        height: 3rem;
        width: 3rem;
        margin: 0 1rem;

        background: $paletteWhite;

        border-radius: 100%;
    }

    & .searchButton {
        place-self: center end;
    }

    & .categories {
        grid-column: 1 / 4;

        height: 100%;
        width: 100%;
    }

    & .categoryItemsCarousel {
        grid-column: 1 / 4;

        height: 100%;
        width: 100%;
        margin-top: 0.75rem;
    }
}
