@import 'resources';

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem;
    grid-auto-rows: min-content;
    place-items: center;
    gap: 1rem;

    height: 100vh;
    padding: 1rem 0;

    & .header {
        grid-column: 1 / 4;
        width: 100%;
        height: 100%;
    }

    & .homeButton,
    .searchButton {
        @include shadow;
        @include centerContent;
        cursor: pointer;
        place-self: center start; // only for homeButton

        height: 3rem;
        width: 3rem;
        margin: 0 1rem;

        border-radius: 100%;
        background: $paletteWhite;
    }

    & .searchButton {
        place-self: center end;
    }

    & .categories {
        grid-column: 1 / 4;

        height: 100%;
        width: 100%;
    }

    & .categoryItemsCarousel {
        grid-column: 1 / 4;

        height: 100%;
        width: 100%;
        margin-top: 0.75rem;
    }
}
