@import 'resources';

.container {
    @include centerContent;
    cursor: pointer;

    height: 3rem;
    width: 3rem;
    padding: 0.25rem;

    border: 1px solid $paletteBlue_1;
    border-radius: 100%;

    & .innerCircle {
        width: 100%;
        height: 100%;

        background: $paletteBgGradient;

        border-radius: 100%;

        transition: all 0.3s;

        &.selected {
            background: $paletteDefaultGradient;
        }
    }
}
