@import 'resources';

.carouselContainer {
    & .carousel {
        display: grid;
        grid-template-rows: 1fr 1fr;

        & .topLine {
            grid-row: 1;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            gap: 0.5rem;
        }

        & .bottomLine {
            grid-row: 2;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            gap: 0.5rem;
        }

        & .item {
            @include lightButton;
            @include centerContent;

            grid-template-columns: max-content;

            height: 2.5rem;
            margin: 0.5rem 0.25rem;
            padding: 0 1rem;

            transition: 0.3s all;

            &:hover {
                background: $paletteGrey_1;

                color: $paletteWhite;
            }
        }
    }
}
