@import 'resources';

.container {
    @include fullHeight;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-rows: 1rem 2fr 1fr 1fr 60% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 1rem;

    width: 100vw;
    padding: 0.5rem 1rem 2rem;

    background: $paletteDarkGrey_1;

    color: $paletteWhite;

    z-index: 999; // overlay

    & .arrowIcon {
        @include centerContent;
        cursor: pointer;

        grid-column: 1 / 4;

        width: 20%;
        height: 100%;
    }

    & .title {
        place-self: start;

        display: grid;
        grid-column: 1 / 4;
        place-items: start;

        margin-left: 1rem;

        font-size: 1.5rem;
        font-weight: bold;
    }

    & .subtitle {
        grid-column: 1 / 4;

        font-size: 1.25rem;
    }

    & .expressDelivery {
        cursor: pointer;

        grid-column: 1 / 4;

        padding: 0.5rem 1.5rem;

        border: 2px solid $paletteWhite;
        border-radius: 2rem;

        transition: all 0.3s;

        &.activeExpressDelivery {
            background: $paletteBg;

            border: 2px solid $paletteBg;

            color: $paletteDarkGrey_1;
        }

        &.disabled {
            cursor: default;

            border: 2px solid $paletteGrey_1;

            color: $paletteGrey_1;
        }

        &:hover {
            background: $paletteBg;

            border: 2px solid $paletteBg;

            color: $paletteDarkGrey_1;
        }
    }

    & .timeColumn {
        display: grid;
        place-items: center;
        gap: 0.5rem;

        width: 100%;
        height: 100%;

        & .timeColumnTitle {
            margin-bottom: 0.5rem;

            text-transform: capitalize;
            font-weight: bold;
        }

        & .activeTimeslot,
        .disabledTimeslot,
        .chosenTimeslot {
            @include centerContent;

            width: 100%;
            height: 100%;
            padding: 0.5rem;

            border-radius: 2rem;

            font-size: 0.8rem;

            transition: all 0.3s;
        }

        & .activeTimeslot {
            cursor: pointer;

            border: 2px solid $paletteWhite;

            transition: all 0.3s;

            &:hover {
                background: $paletteBg;

                border: 2px solid $paletteBg;

                color: $paletteDarkGrey_1;
            }
        }

        & .disabledTimeslot {
            border: 2px solid $paletteGrey_1;

            color: $paletteGrey_1;
        }

        & .chosenTimeslot {
            cursor: pointer;

            background: $paletteBg;

            border: 2px solid $paletteBg;

            color: $paletteDarkGrey_1;
        }
    }

    & .button {
        @include greenButton;
        grid-column: 1 / 4;

        width: 75%;
    }
}
