@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem 3rem 1fr;
    gap: 1rem;

    height: 100vh;
    padding: 0.5rem;

    background: $paletteDarkGrey_1;

    color: $paletteWhite;

    & .locationData {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        grid-template-rows: repeat(4, max-content);

        height: 100%;
        width: 100%;
        padding: 0.5rem;

        background: $paletteDarkGrey_1;

        border-radius: 1rem;

        & .subtitle {
            place-self: end start;

            margin-top: 0.15rem;

            font-size: 0.75rem;

            color: $paletteGrey_3;
        }

        & .data {
            place-self: start;

            width: 100%;

            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;

            overflow: hidden;
        }
    }

    & .deliveryDate {
        @include centerContent;
        @include shadow(transparent);
        cursor: pointer;

        grid-column: 2;
        grid-row: 1;

        padding: 0.5rem;

        background: $paletteDefaultGradient;

        border-radius: 1rem;

        text-align: center;
        font-size: 1.15rem;

        transition: box-shadow 0.3s;

        &:hover {
            @include shadow($paletteBlue_1);
        }
    }

    & .orderSumContainer {
        grid-column: 1 / 3;

        & .orderSum {
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center start;

            height: 100%;
            width: 100%;
            padding: 0.5rem 1rem;

            background: $paletteDarkGrey_1;

            border-radius: 1rem;

            font-size: 1.25rem;

            & .price {
                place-self: center end;
            }
        }
    }

    & .itemsList {
        grid-column: 1 / 3;

        height: 100%;

        overflow: scroll;
    }
}
