@import 'resources';

.container {
    display: grid;
    grid-template-columns: 3rem 1fr 1fr 3rem;
    grid-template-rows: 3rem 6rem 1fr 3fr 2fr 2fr 2fr 1fr;
    place-items: center;
    gap: 0.75rem 1rem;

    padding: 1rem 0.25rem;

    & .backButton,
    .editButton {
        @include centerContent;
        cursor: pointer;

        grid-column: 1; // only for backButton
        grid-row: 1; // only for backButton

        height: 100%;
        width: 100%;

        background: $paletteWhite;

        border-radius: 100%;

        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    & .editButton {
        grid-row: 1;
        grid-column: 4;
    }

    & .avatar {
        place-self: center;

        grid-column: 1 / 5;
        grid-row: 2;

        height: 100%;
        width: 6rem;

        border-radius: 100%;
    }

    & .name {
        place-self: center;

        grid-column: 1 / 5;
        grid-row: 3;

        font-weight: bold;
    }

    & .listsBlock,
    .ordersBlock {
        @include centerContent;
        @include boldTitle;
        cursor: pointer;

        grid-column: 1 / 3; // only for listsBlock
        gap: 0.5rem;

        height: 100%;
        width: 100%;
        padding: 1rem;

        background: $paletteWhite;

        border-radius: 1rem;

        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    & .ordersBlock {
        grid-column: 3 / 5;
    }

    & .bonuses {
        place-self: end center;

        grid-column: 1 / 5;

        font-size: 1.5rem;
        font-weight: bold;

        color: $paletteGrey_1;

        & span {
            margin-left: 1rem;

            color: $paletteGreen_1;
        }
    }

    & .getBonusesButton {
        @include darkButton;
        cursor: pointer;

        grid-column: 1 / 5;
    }

    & .termsAndConditionsButton {
        @include lightButton;
        cursor: pointer;

        grid-column: 1 / 5;
    }

    & .logoutButton {
        cursor: pointer;

        grid-column: 1 / 5;
    }
}

.loading {
    @include fullHeight;
    @include centerContent;
    width: 100vw;
}
