@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem 2rem max-content max-content 1fr;
    place-items: center;
    gap: 1rem;

    height: 100vh;
    padding: 3rem 0.5rem 4rem;

    & .avatar {
        @include shadow;
        place-self: center;

        grid-column: 1 / 3;

        height: 100%;
        width: 6rem;

        background: $paletteWhite;

        border-radius: 100%;
    }

    & .name {
        place-self: center;

        grid-column: 1 / 3;

        font-weight: bold;
    }

    & .link {
        @include centerContent;
        @include shadow;
        height: 6rem;
        width: 100%;

        background: $paletteWhite;

        border-radius: 1rem;

        font-weight: bold;

        &.centered {
            place-self: center;

            grid-column: 1 / 3;
        }
    }

    & .termsAndConditionsButton {
        @include lightButton;
        @include centerContent;
        cursor: pointer;
        place-self: end center;

        grid-column: 1 / 3;

        height: 2.5rem;
        width: 75%;
        padding: 0;
        margin: 1rem 0;
    }

    & .navButton {
        @include lightButton;
        @include centerContent;

        width: 3rem;
        padding: 0;

        & .logoutIcon {
            position: relative;
            left: -2px;
        }
    }
}

.loading {
    @include fullHeight;
    @include centerContent;
    width: 100vw;
}
