@import 'resources';

.container {
    @include blur;

    position: fixed;
    bottom: 0;
    left: 0;

    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    place-items: start center;
    gap: 1rem;

    width: 100%;
    height: 4rem;
    padding: 0.5rem;

    border-radius: 2rem 2rem 0 0;

    transition: all 0.25s;

    overflow-y: visible;

    &.transparent {
        background: transparent;
    }

    &.searchOpened {
        min-height: 100vh;
    }

    & .backButton,
    .searchButton {
        @include shadow;
        @include lightButton;
        @include centerContent;
        cursor: pointer;

        grid-column: 1; // only for backButton

        height: 3rem;
        width: 3rem;
        padding: 0;

        border-radius: 100%;
    }

    & .searchButton {
        grid-column: 2;

        height: 3rem;
        width: 3rem;

        border-radius: 2rem;

        transition: width 0.3s;

        &.rightButton {
            place-self: end;

            grid-column: 3;

            margin: 0;
        }

        &.active {
            grid-column: 1 / 4;

            width: 90%;
        }
    }

    & .title {
        @include boldTitle;
        place-self: center;
    }
}
