@import 'resources';

.container {
    @include shadow;
    @include centerContent;
    cursor: pointer;

    background: $paletteWhite;

    border-radius: 100%;

    &.gradient {
        background: $paletteDefaultGradient;
    }

    & .icon {
        min-width: 1rem;
        min-height: 1rem;
        max-width: 2rem;
        max-height: 2rem;
        width: 50%;
        height: 50%;
    }
}
