@import 'resources';

.container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.5rem;

    width: 100%;

    &.extended {
        grid-template-rows: 1.5rem 1fr;
    }

    & .title {
        @include boldTitle;
    }

    & .carousele {
        padding: 0 0.5rem;
        min-height: 16rem;

        & .item {
            height: 7.5rem;
            width: 6.5rem !important; // forcing rewriting of flex-box default widths
            margin: 0.5rem;
        }
    }

    & .actionButtonContainer {
        @include boldTitle;

        height: 3rem;
        width: 90%;
        margin: 0 1rem;
    }
}
