@import 'resources';

.container {
    display: grid;
    grid-auto-rows: max-content;

    height: 100%;
    width: 100%;

    overflow: scroll;

    & .supplier {
        display: grid;
        grid-template-rows: 1fr 1fr max-content;
        grid-template-columns: 30% 2rem 1fr 3rem;
        gap: 0.25rem 0.5rem;

        padding: 0.5rem 0;

        border-top: 1px solid $paletteGrey_3;

        // Left side
        & .name {
            grid-column: 1 / 3;

            font-weight: bold;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;

            overflow: hidden;
        }

        & .priceSubtitle {
            @include subtitle;
            grid-column: 1;

            text-align: left;
        }

        & .price {
            grid-column: 1;

            text-align: left;
        }

        // Unit
        & .unit {
            @include subtitle;
            place-self: start center;

            grid-column: 2;
            grid-row: 3;
        }

        // Right side
        & .rating {
            place-self: center end;

            grid-column: 3;
            grid-row: 1;
        }

        & .conditionsSubtitle {
            @include subtitle;
            grid-column: 3;
            grid-row: 1;

            text-align: end;
        }

        & .conditions {
            grid-column: 3;
            grid-row: 2 / 4;
            display: grid;
            gap: 0.25rem;

            & p {
                font-size: 0.8rem;
                font-weight: bold;
                text-align: right;
            }
        }

        // Radio selector
        & .radioButton {
            place-self: center;

            grid-column: 4;
            grid-row: 1 / 4;
        }
    }
}
