@import 'resources';

.container {
    @include shadow;

    position: fixed;
    bottom: 0;
    left: 0.5rem;

    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 3rem 1fr 2rem;
    place-items: center start;
    gap: 0.15rem;

    width: calc(100vw - 1rem);
    padding: 1rem;

    background: $paletteWhite;

    border-radius: 1rem 1rem 0 0;

    font-size: 1.25rem;

    z-index: 999; // overlay

    & .newLocation {
        cursor: pointer;

        display: grid;
        grid-column: 1 / 4;
        grid-template-columns: 1fr 2rem;
        place-items: center start;

        width: 100%;

        & span {
            place-self: center;

            font-size: 2rem;
        }
    }

    & .devider {
        grid-column: 1 / 4;

        height: 1px;
        width: 100%;

        background: $paletteGrey_3;
    }

    & .locationName {
        grid-column: 1 / 3;
    }

    & .radioButton {
        grid-column: 3;

        height: 2rem;
        width: 2rem;
        margin: 0.25rem 0;
    }

    & .backButton {
        @include shadow;
        @include lightButton;
        @include centerContent;

        @include media(md) {
            margin-right: -1rem;
        }
        cursor: pointer;
        place-self: end;

        grid-column: 1;

        margin-top: 1rem;
        padding: 0;

        border-radius: 100%;
    }
}
