@import 'resources';

.container {
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    place-items: center;
    gap: 1rem;

    & .backButton {
        cursor: pointer;
        grid-row: 1; // only for backButton
        grid-column: 1; // only for backButton

        display: grid;
        place-items: center;

        height: 100%;
        width: 100%;

        border-radius: 100%;
        background: $paletteWhite;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    & .title {
        @include boldTitle;
    }
}
