@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 1rem;
    place-items: center;

    padding: 1rem 0;

    & .header {
        grid-column: 1 / 3;
    }

    & .profileButton,
    .loginButton,
    .favoritesButton {
        @include lightButton;
        @include centerContent;
        place-self: center start;

        width: 3rem;
        height: 3rem;
        padding: 0;
        margin: 0 1rem;

        border-radius: 100%;

        transition: all 0.3s;
    }

    & .loginButton {
        padding-right: 2px;
    }

    & .favoritesButton {
        place-self: center end;
    }

    & .lastOrder {
        grid-column: 1 / 3;
    }

    & .dailyBonus,
    .catalogue {
        grid-column: 1 / 3;
    }
}
