@import 'resources';

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    height: 100vh;
    padding: 1rem;

    & .profileButton {
        @include lightButton;
        @include centerContent;

        width: 3rem;
        height: 3rem;

        border-radius: 100%;
    }

    & .signinButton {
        @include lightButton;
        @include centerContent;
        grid-column: 2;
        place-self: center end;

        width: 50%;
        border-radius: 2rem;
    }

    & .favoritesButton {
        @include lightButton;
        @include centerContent;
        place-self: center end;

        width: 3rem;
        height: 3rem;

        border-radius: 100%;

        & img {
            width: 1rem;
            height: 1rem;
        }
    }

    & .search {
        @include shadow;
        grid-column: 1 / 3;

        margin: 1rem;
        padding: 0.75rem 2rem;

        border: none;
        border-radius: 2rem;

        font-size: 1.25rem;
    }

    & .dailyBonus,
    .catalogue {
        grid-column: 1 / 3;
    }
}
