@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 1rem;
    place-items: center;

    padding: 1rem 0;

    overflow: scroll;

    & .header {
        grid-column: 1 / 3;
    }

    & .profileButton,
    .loginButton,
    .favoritesButton {
        @include lightButton;
        @include centerContent;
        place-self: center start;

        width: 3rem;
        height: 3rem;
        padding: 0;
        margin: 0 1rem;

        border-radius: 100%;

        transition: all 0.3s;
    }

    & .loginButton {
        padding-right: 2px;
    }

    & .checkOrders {
        @include deafultGradientButton;
        @include centerContent;
        cursor: pointer;
        place-self: center;

        position: relative;

        grid-column: 1 / 3;

        height: 6.5rem;
        width: 80%;
        padding: 1rem;

        border-radius: 1rem;

        font-size: 1.25rem;
        font-weight: bold;

        color: $paletteWhite;
    }

    & .cartButton {
        @include centerContent;
        cursor: pointer;
        place-self: center start; // only for homeButton

        height: 3rem;
        width: 3rem;
        margin: 0 1rem;
        padding: 0;

        & .cartIcon {
            position: relative;
            right: 1px;

            transform: scale(0.9);
        }
    }

    & .favoritesButton {
        place-self: center end;
    }

    & .lastOrder {
        @include media(md) {
            height: 15.2rem;
            width: 44.4rem;
            margin-top: 1.8rem;
        }
        grid-column: 1 / 3;

        height: 100%;
        width: 90%;
    }

    & .dailyBonus,
    .catalogue {
        @include media(md) {
            // height: 12rem;
            width: 100%;
        }
        grid-column: 1 / 3;

        width: 90%;
    }
}
