@import 'resources';

.container {
    @include shadow;
    cursor: pointer;

    display: grid;
    grid-template-columns: 3rem 1fr min-content;
    grid-template-rows: 1fr 1fr;
    place-items: center start;
    gap: 0 1rem;

    width: 100%;
    padding: 1rem;

    background: $paletteWhite;

    border-radius: 0.75rem;

    &:hover {
        @include shadow($paletteBlue_1);
    }

    & .img {
        grid-row: 1 / 3;
        grid-column: 1;

        width: 100%;

        border-radius: 0.5rem;
    }

    & .locationName {
        grid-column: 2;

        font-size: 1.2rem;
        font-weight: bold;
    }

    & .locationAddress {
        grid-column: 2;

        color: $paletteBlue_1;
    }

    & .arrow {
        grid-row: 1 / 3;
        grid-column: 3;
    }
}
