@import 'resources';

.container {
    @include lightButton;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    place-content: center;
    gap: 0.25rem;

    height: 4rem;
    width: 4rem;
    padding: 0;

    border-radius: 100%;

    transition: all 0.3s;

    &.selected {
        background: $paletteGrey_1;
    }
}
