@import 'resources';

.bg {
    @include fullHeight;

    display: grid;
    place-items: center;

    width: 100vw;
    padding: 1rem 0 0;

    background: $paletteDefaulGradient;

    overflow-y: hidden;
}
