@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-rows: max-content 1fr;
    place-items: center;
    gap: 0.5rem;

    height: 100vh;
    width: 100vw;
    padding: 1rem 0.5rem 4rem;

    background: $paletteBg;

    overflow-y: hidden;
}
