@import 'resources';

.container {
    @include fullHeight;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-items: center;

    width: 100vw;

    background: $paletteBg;

    z-index: 1000;
}
