@import 'resources';

.container {
    @include shadow;
    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 0.75rem;

    padding: 0 1rem 0.75rem;

    background: $paletteWhite;

    border-radius: 1rem;

    & .date {
        font-weight: bold;
    }

    & .orderStatusLabel {
        place-self: start;

        grid-column: 1 / 3;
    }

    & .location {
        font-weight: bold;
    }

    // & .supplier {
    // }

    & .price {
        place-self: start end;

        font-weight: bold;
    }

    & .showUserInfo {
        font-weight: bold;
        text-align: end;
    }

    & .cart {
        place-self: start end;

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        place-items: center;
        gap: 0.75rem;

        color: $paletteBlue_1;

        & svg {
            height: 75%;
        }
    }
}
