@import 'resources';

.container {
    @include shadow;
    @include centerContent;
    cursor: pointer;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 4fr;
    place-items: center;
    gap: 0.5rem;

    height: 100%;
    min-height: 15rem;
    padding: 1rem 0.75rem;

    background: $paletteWhite;

    border-radius: 1rem;

    font-size: 0.9rem;

    & .orderId {
        display: grid;

        text-align: center;

        & span {
            font-weight: bold;
        }
    }

    & .date {
        font-weight: bold;
    }

    & .address {
        text-align: center;
    }

    & .deliveryTime {
        font-weight: bold;
    }

    & .price {
        font-size: 1.5rem;
        font-weight: bold;

        color: $paletteBlue_1;

        & span {
            font-size: 1rem;
            font-weight: normal;
        }
    }
}
