@import 'resources';

.container {
    @include shadow;
    cursor: pointer;

    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.5rem;

    padding: 0.5rem;

    background: $paletteWhite;

    border-radius: 1rem;

    font-size: 0.9rem;

    & .date {
        place-self: center start;

        font-weight: bold;
    }

    & .orderStatusLabel {
        place-self: center end;

        max-width: 75%;
    }

    & .subtitle {
        grid-row: 2;

        width: 100%;

        font-size: 0.8rem;
        text-align: left;

        color: $paletteGrey_3;
    }

    & .alignRight {
        text-align: right;
    }

    & .location {
        font-weight: bold;
    }

    & .supplier {
        font-weight: bold;
    }

    & .price {
        @include boldTitle;
        place-self: center start;
    }

    & .cart {
        display: grid;
        grid-auto-columns: 2rem;
        grid-auto-flow: column;
        gap: 0 -1rem;

        width: 100%;
        padding: 0.25rem;

        overflow: hidden;

        & .cartItem {
            height: 2.5rem;
            width: 2.5rem;

            background: $paletteWhite;

            border-radius: 100%;

            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
