@import 'resources';

.container {
    display: grid;
    grid-template-rows: max-content;
    gap: 0.5rem;

    &.extended {
        grid-template-rows: 1.5rem max-content 3rem;
    }

    & .title {
        @include boldTitle;
    }

    & .carousele {
        padding: 0 0.5rem;

        & .item {
            min-height: 15rem;
            min-width: 10rem !important; // forcing rewriting of flex-box default widths
            max-width: 10rem !important; // forcing rewriting of flex-box default widths
            margin: 0.5rem;
        }
    }

    & .actionButton {
        @include darkButton;
        place-self: center;

        margin: 0 1rem;
        width: 90%;
    }
}
