@import 'resources';

.container {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 50% 50%;
    gap: 0.5rem;

    & .title {
        @include boldTitle;
        place-self: center start;

        grid-column: 1;

        margin-left: 1.5rem;
    }

    & .showMore {
        place-self: center end;

        grid-column: 2;

        height: 1.5rem;
        width: 70%;
        margin-right: 1rem;
        padding: 1px;

        font-size: 0.8rem;
    }

    & .carousele {
        grid-column: 1 / 3;

        padding: 0 0.5rem;

        & .item {
            min-height: 17rem;
            min-width: 10rem !important; // forcing rewriting of flex-box default widths
            max-width: 10rem !important; // forcing rewriting of flex-box default widths
            margin: 0.5rem;
        }
    }
}
