@import 'resources';

.container {
    @include shadow;

    display: grid;
    grid-template-rows: min-content 1fr min-content 1fr 1fr;
    place-items: center;
    gap: 0.25rem;

    height: 100%;
    min-height: 15rem;
    padding: 1rem 0.75rem;

    background: $paletteWhite;

    border-radius: 1rem;

    & .closeOverlay {
        cursor: pointer;
        place-self: center end;
    }

    & .amountDisabled {
        cursor: pointer;

        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    & .amountInput {
        width: 5rem;

        background: $paletteWhite;

        border: 1px solid $paletteGrey_3;
        border-radius: 10px;

        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    & .functionalButton {
        @include shadow;
        @include centerContent;
        cursor: pointer;

        height: 2.5rem;
        width: 2.5rem;

        border-radius: 100%;

        font-size: 2rem;
        font-weight: bold;
    }

    & .purchaseButton {
        @include deafultGradientButton;
        display: grid;
        grid-auto-flow: column;
        place-items: center;

        height: 90%;
        padding: 0 1rem;
    }
}
