@import 'resources';

.container {
    position: fixed;
    bottom: 1rem;

    display: grid;
    grid-template-rows: 1rem 3rem;
    place-items: center;
    gap: 1rem;

    width: 90vw;
    margin: 0 5vw;
    padding: 1.5rem 1rem;

    background: $paletteDarkGrey_1;

    border-radius: 12px;

    color: $paletteBg;

    & .closeIcon {
        cursor: pointer;
        place-self: center end;

        grid-column: 1;
        grid-row: 1;
    }

    & .requestTitle {
        grid-column: 1;
        grid-row: 1;
    }

    & .addressInput {
        @include boldTitle;
        height: 100%;
        width: 90%;
        padding: 0 1rem;

        background: $paletteBg;

        border: none;
        border-radius: 12px;

        text-align: start;
    }

    & .requestButton {
        @include lightButton;
        width: 90%;
    }
}
