@import 'resources';

.container {
    @include shadow;

    display: grid;
    grid-template-columns: 35% 1fr;
    place-items: center start;
    gap: 0.5rem;

    height: 7rem;
    padding-right: 0.5rem;

    background: $paletteWhite;

    border-radius: 1rem;

    overflow: hidden;

    & .mock {
        @include centerContent;

        height: 100%;
        width: 100%;
        padding: 0.5rem;

        background: $paletteDefaultGradient;

        & img {
            filter: brightness(0) invert(1);
        }
    }

    & .img {
        height: 100%;
        width: 100%;
    }

    & .text {
        font-size: 0.95rem;
    }
}
