@import 'resources';

.container {
    width: 100%;
    padding: 1rem 0;

    overflow: hidden;

    & .carousele {
        max-width: 100%;

        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        & .carouseleContentBox {
            display: flex;

            overflow-x: visible;
            transition: all 0.3s;
        }
    }
}
