@import 'resources';

.container {
    display: grid;
    grid-template-rows: 75vh 3rem;
    grid-template-columns: 2fr 3fr;
    place-items: start center;
    gap: 1rem;

    padding: 0 1rem;

    & .itemInfo {
        @include shadow;
        place-self: center;

        position: relative;

        display: grid;
        grid-column: 1 / 3;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 1fr 1fr 2fr 1fr 2fr;
        gap: 0.5rem;

        height: 100%;
        width: 100%;
        padding: 1rem 1.5rem 2rem;

        background: $paletteWhite;

        border-radius: 1rem;

        & .favoritesButton {
            @include lightButton;
            @include centerContent;

            position: absolute;
            top: 1rem;
            right: 1rem;

            height: 3rem;
            width: 3rem;
            padding: 0;
        }

        & .image {
            grid-column: 1 / 3;

            height: 100%;
            width: 100%;
        }

        & .itemName,
        .descriptionTitle {
            @include boldTitle;
            place-self: center start;

            grid-column: 1 / 3;

            color: $paletteBlack;
        }

        & .unit {
            place-self: start;

            grid-column: 1 / 3;

            color: $paletteGrey_3;
        }

        & .amountContainer {
            @include centerContent;
            @include boldTitle;
            place-self: center start;

            grid-template-columns: repeat(3, 1fr);

            height: 90%;
            width: 100%;

            border: 1px solid $paletteBlack;
            border-radius: 3rem;

            overflow: hidden;

            & .amountButton {
                @include centerContent;
                cursor: pointer;

                height: 100%;
                width: 100%;
            }

            & .amountInput {
                height: 80%;
                width: 100%;

                background: $paletteWhite;

                border: 1px solid $paletteGrey_3;
                border-radius: 10px;

                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
            }

            & .amountDisabled {
                @include centerContent;
                cursor: pointer;

                height: 100%;
                width: 100%;
            }
        }

        & .price {
            place-self: center;

            font-size: 2rem;
            font-weight: bold;

            color: $paletteGreen_1;

            & span {
                font-size: 1.5rem;
                font-weight: normal;
            }
        }

        & .description {
            grid-column: 1 / 3;

            height: 100%;

            overflow: scroll;
        }
    }

    & .backButton {
        @include lightButton;
        @include centerContent;
        place-self: center start;

        height: 2.5rem;
        width: 2.5rem;
        padding: 0;
    }

    & .buyButton {
        @include darkButton;
        place-self: center end;

        display: grid;
        grid-template-columns: repeat(2, min-content);
        gap: 1rem;

        width: auto;
        padding: 0.75rem 2.5rem;

        border-radius: 2rem;

        font-size: 1.25rem;
        font-weight: normal;

        & .buyIcon {
            position: relative;
            top: 2px;
        }
    }
}
