@import 'resources';

.container {
    @include shadow;
    cursor: pointer;

    position: relative;

    display: grid;
    grid-template-columns: 2.75rem 1fr 3rem 3rem;
    grid-template-rows: 100%;
    place-items: center;
    gap: 0.5rem;

    height: 3rem;
    padding: 0 0.5rem;

    border-radius: 3rem;

    font-size: 0.9rem;

    & .image {
        width: 100%;
        height: 100%;

        border-radius: 100%;
    }

    & .itemName {
        display: -webkit-box;

        width: 100%;

        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    & .infoValue {
        font-weight: bold;
    }
}
