@import 'resources';

.container {
    @include shadow;
    @include centerContent;

    position: relative;

    display: grid;
    grid-template-columns: 1fr 2.5rem;
    grid-template-rows: 1fr 2.25rem 1rem 2.5rem;
    place-items: start;
    gap: 0.25rem;

    min-height: 15rem;
    max-height: 15rem;
    height: 15rem;
    width: 100%;
    padding: 0 0.5rem 0.75rem;

    background: $paletteWhite;

    border-radius: 1rem;

    @media only screen and (min-width: 700px) {
        // grid-template-columns: 1fr;
        grid-template-rows: 1fr 2rem 3rem 2rem 2rem;

        min-height: 19rem;
        max-height: 19rem;
        padding: 0px 0px 0px 0px;
    }

    & .itemImage {
        place-self: center;

        grid-column: 1 / 3;

        height: 100%;
        max-height: 7rem;
        width: 100%;

        @media only screen and (min-width: 700px) {
            max-height: 9rem;
        }
    }

    & .itemName {
        place-self: end start;

        display: -webkit-box;
        grid-column: 1 / 3;

        height: 100%;
        max-height: 2.25rem;
        width: 100%;

        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;

        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media only screen and (min-width: 700px) {
            font-size: 1.2rem;
        }
    }

    & .unit {
        grid-column: 1;

        max-height: 1rem;

        font-size: 0.75rem;
        text-align: left;

        color: $paletteGrey_3;

        @media only screen and (min-width: 700px) {
            place-self: center left;

            padding: 0 0 0 0.5rem;
        }
    }

    & .price {
        grid-column: 1;
        display: grid;

        font-size: 0.9rem;

        @media only screen and (min-width: 700px) {
            padding: 0 0 0 0.5rem;

            font-size: 1.2rem;
        }

        & span {
            font-size: 1.15rem;

            @media only screen and (min-width: 700px) {
                // padding: 0 0 0 0.5rem;
                font-size: 1.6rem;
                font-weight: bold;
            }
        }
    }

    & .button {
        @include centerContent;
        cursor: pointer;
        place-self: end;

        grid-column: 2;
        grid-row: 3 / 5;

        height: 2.5rem;
        width: 2.5rem;
        padding: 0;

        @media only screen and (min-width: 700px) {
            grid-row: 5;

            height: 3.5rem;
            width: 3.5rem;
            margin: 0.5rem;
        }
    }
}
