@import 'resources';

.container {
    @include shadow;
    @include centerContent;

    position: relative;

    display: grid;
    grid-template-rows: 1fr 2.25rem 1rem 1rem 2rem 3rem;
    place-items: start;
    gap: 0.2rem;

    height: 18rem;
    padding: 0 0.75rem;

    background: $paletteWhite;

    border-radius: 1rem;

    & .itemImage {
        height: 100%;
        width: 100%;
    }

    & .itemName {
        place-self: end start;

        display: -webkit-box;

        width: 100%;
        height: 100%;

        text-align: center;
        font-size: 0.9rem;
        font-weight: bold;

        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    & .unit {
        font-size: 0.75rem;
        text-align: left;

        color: $paletteGrey_3;
    }

    // & .price {
    //     & span {
    //         @include gradientText;
    //         font-weight: bold;
    //     }
    // }

    & .sellersAmount {
        place-self: center;

        width: 100%;

        font-size: 0.75rem;
        text-align: center;

        color: $paletteGrey_3;
    }

    & .button {
        place-self: center;

        /*
            Borders of the container and the button have different radius,
            hence we have to overlap container's border with button to hide it
        */
        position: relative;
        top: 2px;

        height: 100%;
        width: calc(100% + 1.75rem);
        padding: 1px;

        & .link {
            @include centerContent;
            cursor: pointer;

            width: 100%;
            height: 100%;

            background: $paletteWhite;

            border: none;
            border-radius: 2rem;

            transition: all 0.3s;

            & span {
                @include gradientText;
                font-weight: bold;
            }

            &:hover {
                background: $paletteDefaultGradient;

                & span {
                    background: transparent;

                    -webkit-text-fill-color: $paletteWhite;
                }
            }
        }
    }
}
