@import 'resources';

.container {
    display: grid;
    grid-template-rows: 1fr 6fr repeat(4, min-content);

    padding: 1rem 0.75rem 0;

    height: 100%;

    & .heart {
        grid-row: 1;
        place-self: center end;

        height: 100%;
        width: 1.5rem;
    }

    & .itemImage {
        grid-row: 2;
        place-self: center;

        width: 100%;
        height: 100%;
    }

    & .itemName {
        grid-row: 3;
        place-self: center;

        font-weight: 500;
    }

    & .price {
        grid-row: 4;
        place-self: center;

        font-size: 1.5rem;
        font-weight: bold;

        color: $paletteGreen_1;

        & span {
            font-size: 1rem;
            font-weight: normal;
        }
    }

    & .amount {
        grid-row: 5;
        place-self: center;

        color: $paletteGrey_3;
        font-size: 0.8rem;
    }

    & .cart {
        grid-row: 6;
        place-self: center end;

        position: relative;
        left: 0.5rem;

        width: 3rem;
        height: 3rem;
        padding: 0.3rem 0.75rem 0.75rem;
    }
}
