@import 'resources';

.container {
    @include shadow;
    place-self: center;

    display: grid;
    grid-template-rows: repeat(2, min-content) 3rem;
    grid-template-columns: 2fr 4fr 1fr;
    gap: 0 1rem;

    width: 95%;
    height: 100%;
    padding: 1rem;

    border-radius: 1rem;

    & .title {
        @include boldTitle;
        grid-column: 1 / 3;
        place-self: center start;
    }

    & .date {
        @include boldTitle;
        grid-column: 1 / 3;
        place-self: center start;

        font-size: 0.9rem;
    }

    & .cartLength {
        place-self: center start;
    }

    & .itemImages {
        display: flex;
        justify-items: flex-start;
        align-items: center;

        width: 100%;
        padding-left: 0.5rem;

        overflow: hidden;

        & .cartItem {
            @include shadow;

            height: 2.5rem;
            width: 2.5rem;
            min-width: 2.5rem;

            margin-left: -0.5rem;

            border-radius: 100%;
            background: $paletteBg;

            overflow: hidden;
        }
    }

    & .button {
        @include centerContent;
        @include greenButton;
        grid-column: 3;
        grid-row: 1 / 4;
        place-self: center end;

        width: 3rem;
        height: 3rem;

        & .icon {
            position: relative;
            left: -1px;
        }
    }
}
