@import 'resources';

.toasterContainer {
    position: fixed;
    bottom: 1rem;

    display: grid;
    place-items: center;

    max-height: 4rem;
    width: 100vw;

    & .toaster {
        display: grid;
        grid-template-columns: 1fr min-content;
        place-items: center;

        min-width: 20rem;
        padding: 0.75rem 1rem;

        border-radius: 5rem;
        border: 1px solid $paletteBg;
        background: $paletteDarkGrey_1;

        color: $paletteWhite;

        & .closeIcon {
            cursor: pointer;
        }
    }
}
