@import 'resources';

.container {
    @include shadow;
    cursor: pointer;

    display: grid;
    place-items: center;

    height: 6rem;
    width: 100%;
    margin-bottom: 0.5rem; // needed for last raw

    background: $paletteWhite;

    border-radius: 1rem;

    font-size: 0.8rem;

    & .name {
        place-self: start center;
    }
}
