@import '../../theme/scss/resources';

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5rem min-content 3fr;
    gap: 1rem;

    & .title {
        @include boldTitle;
        grid-column: 1 / 3;
    }

    & .showMoreButton {
        @include darkButton;
        grid-column: 1 / 3;
    }
}
