@import 'fonts.scss';
@import 'palette.scss';
@import 'animations.scss';
@import 'mediaQueryManager.scss';

// General hacks
@mixin fullHeight {
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
    width: 100vw;

    overflow: scroll;
}

// Texts styling
@mixin boldTitle {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

    color: $paletteBlack;
}

@mixin subtitle {
    font-size: 0.9rem;
    text-align: center;

    color: $paletteGrey_3;
}

@mixin gradientText($gradient: $paletteDefaultGradient) {
    background: $gradient;
    background-clip: text;

    -webkit-text-fill-color: transparent;

    transition: all 0.3s;
}

// Buttons
@mixin deafultGradientButton {
    @include shadow(transparent);

    cursor: pointer;

    width: 100%;
    padding: 1rem;

    background: $paletteDefaultGradient;

    border: none;
    border-radius: 2rem;

    font-weight: bold;
    text-align: center;

    color: $paletteWhite;

    transition: box-shadow 0.5s;

    &:hover {
        @include shadow($paletteBlue_1);
    }
}

@mixin darkButton {
    cursor: pointer;

    width: 100%;
    padding: 1rem;

    background: $paletteGrey_1;

    border-radius: 2rem;

    font-weight: bold;
    text-align: center;

    color: $paletteWhite;

    transition: background 0.2s;

    &:hover {
        background: $paletteDarkGrey_1;
    }
}

@mixin lightButton {
    @include shadow;
    cursor: pointer;

    width: 100%;
    padding: 1rem;

    background: $paletteWhite;

    border-radius: 2rem;

    font-weight: bold;
    text-align: center;

    color: $paletteBlack;

    // &:hover {
    // }
}

@mixin greenButton {
    // @include shadow(transparent);
    cursor: pointer;

    width: 100%;
    padding: 1rem;

    background: $paletteBlue_1;

    border-radius: 2rem;

    font-weight: bold;
    text-align: center;

    color: $paletteWhite;

    transition: box-shadow 0.3s;

    // &:hover {
    //     // @include shadow($paletteBlue_1);
    // }
}

// Others
@mixin disableSelect {
    user-select: none;
}

@mixin blur($blurStrength: 10px) {
    @supports (
        (-webkit-backdrop-filter: blur($blurStrength)) or (backdrop-filter: blur($blurStrength))
    ) {
        background-color: rgba(150, 150, 150, 0.15);

        backdrop-filter: blur($blurStrength);
    }
    background-color: rgba(246, 246, 246, 0.85);
}

@mixin shadow($shadowColor: #0000001a) {
    box-shadow: 0px 0px 12px $shadowColor;
}

@mixin overlay {
    @include fullHeight;
    @include blur;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    padding: 1rem 0;

    z-index: 1000; // always on top
}

@mixin centerContent {
    display: grid;
    place-items: center;
}
