@import 'fonts.scss';
@import 'palette.scss';
@import 'animations.scss';
@import 'mediaQueryManager.scss';

// Texts styling
@mixin boldTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

// Buttons
@mixin darkButton {
    cursor: pointer;

    width: 100%;
    padding: 1rem;

    background: $paletteGrey_1;
    border-radius: 2rem;

    color: $paletteWhite;
    font-weight: bold;
    text-align: center;

    &:hover {
    }
}

@mixin lightButton {
    cursor: pointer;

    width: 100%;
    padding: 1rem;

    background: $paletteWhite;
    border-radius: 2rem;

    color: $paletteBlack;
    font-weight: bold;
    text-align: center;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    &:hover {
    }
}

@mixin disableSelect {
    user-select: none;
}
