@import 'fonts.scss';
@import 'palette.scss';
@import 'animations.scss';
@import 'mediaQueryManager.scss';

// Texts styling
@mixin boldTitle {
    color: $paletteBlack;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

// Buttons
@mixin darkButton {
    cursor: pointer;

    width: 100%;
    padding: 1rem;

    background: $paletteGrey_1;
    border-radius: 2rem;

    color: $paletteWhite;
    font-weight: bold;
    text-align: center;

    transition: background 0.2s;

    &:hover {
        background: $paletteDarkGrey_1;
    }
}

@mixin lightButton {
    @include shadow;
    cursor: pointer;

    width: 100%;
    padding: 1rem;

    background: $paletteWhite;
    border-radius: 2rem;

    color: $paletteBlack;
    font-weight: bold;
    text-align: center;

    &:hover {
    }
}

@mixin greenButton {
    cursor: pointer;

    width: 100%;
    padding: 1rem;

    background: $paletteGreen_1;
    border-radius: 2rem;

    color: $paletteWhite;
    font-weight: bold;
    text-align: center;

    &:hover {
    }
}

@mixin disableSelect {
    user-select: none;
}

@mixin shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

@mixin centerContent {
    display: grid;
    place-items: center;
}
