//* Color Palette

$paletteBg: #f6f6f6;

$paletteBlack: #000000;
$paletteWhite: #ffffff;

$paletteGrey_1: #454545;

$paletteGreen_1: #21ef00;

$paletteWarningYellow: #dbbc51;
$paletteErrorRed: #c63838;
$paletteSuccessGreen: #38c646;
