@import 'resources';

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    padding: 1rem;

    font-weight: bold;
    font-size: 1.5rem;

    & .percent {
        place-self: center;
        @include centerContent;

        width: 100%;
        height: 100%;

        border-radius: 2rem;
        border: 1px solid $paletteGreen_1;

        font-size: 2rem;
        color: $paletteGreen_1;
        text-align: center;
    }

    & .actionButton {
        @include greenButton;
        place-self: start;
        padding: 1rem;
    }
}
