@import 'resources';

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    gap: 1rem;

    width: 100%;
    padding: 0 1rem;

    font-weight: bold;
    font-size: 1.25rem;

    & .percent {
        @include centerContent;
        place-self: center;

        min-width: 7.5rem;
        padding: 1rem;

        border: 1px solid $paletteGreen_1;
        border-radius: 2rem;

        text-align: center;

        color: $paletteGreen_1;
    }

    & .actionButton {
        @include greenButton;
        @include centerContent;
        place-self: center;

        max-width: 10rem;
        padding: 1rem;

        border: 1px solid $paletteGreen_1;
    }
}
