@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem min-content 1fr;

    padding: 1rem;

    & .title {
        grid-column: 1 / 3;
    }

    & .tags {
        grid-column: 1 / 3;
        padding: 0;

        & .tag {
            @include lightButton;
            display: grid;
            place-items: center;

            margin: 0.75rem 0;

            font-size: 0.75rem;

            &:hover {
                background: $paletteGrey_1;
                color: $paletteWhite;
            }
        }
    }

    & .showcase {
        grid-column: 1 / 3;
    }
}
