@import 'resources';

.container {
    @include fullHeight;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 1fr;

    padding: 1rem 0.25rem;

    & .title {
        grid-column: 1 / 3;
    }

    & .tags {
        grid-column: 1 / 3;

        padding: 0;

        & .tag {
            @include lightButton;
            @include centerContent;

            grid-template-columns: max-content;

            height: 2.5rem;
            margin: 0.5rem 0.25rem;
            padding: 0 1rem;

            font-size: 0.75rem;

            transition: 0.3s all;

            &:hover {
                background: $paletteGrey_1;

                color: $paletteWhite;
            }
        }
    }

    & .showcase {
        grid-column: 1 / 3;
    }
}
