@import 'resources';

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 10rem 5rem;
    gap: 1rem;

    width: 100%;
    padding: 0.5rem;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    & .infoBlock {
        @include shadow;
        grid-row: 1;
        grid-column: 1;

        display: grid;
        place-items: center;

        width: 100%;

        border-radius: 1rem;
    }

    & .marketItem {
        @include shadow;
        display: grid;
        place-items: center;

        border-radius: 1rem;
    }
}
