@import 'resources';

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 10rem 4rem;
    gap: 1rem;

    width: 100%;
    max-width: 100vw;
    padding: 0.5rem;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    & .infoBlock {
        @include shadow;
        @include centerContent;
        grid-row: 1;
        grid-column: 1;

        width: 100%;

        background: $paletteBg;

        border-radius: 1rem;
    }

    // & .marketItem {
    // }
}
